__pycache__/
*.py[cod]
*.pyo
.Python
env/
venv/
.venv/
.git
.gitignore
Dockerfile
docker-compose.yml
.dockerignore
*.log
*.sqlite3
node_modules
frontend/node_modules
dist
build
frontend/dist
frontend/build
*.env
*.pkl
dataset.csv
Main.ipynb
